/* Footer */

footer {
    margin: 20px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: $color-azul-oscuro;
    height: 150px;
    text-align: center;
}

/* Legend */

legend {
    color: $color-blanco;
}