@mixin fuentemenu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Menú de navegación */

nav {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 1%;
    @include fuentemenu;
}

li {
    display: inline-block;
    width: 19%;
    text-align: center;
    padding-top: 1%;
    @include fuentemenu;
    color: $color-azul-claro;
}

/* Enlaces */

a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    @include fuentemenu;
    color: $color-azul-oscuro;
}